@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('lenis-scroll.css');
@import url('custom-scrollbar.css');
@import url('toast.css');
@import url('custom.css');
@import url('loading.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body {
    filter: invert(1);
    -webkit-filter: invert(1);
} */

.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d1d5db;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #00000050;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  